#bio {
    /* text-align: justify; */
    width: 85vw;
}

#stand-section h3 {
    display: flex;
}

#stand-section * {
    padding-right: 10px
}

#stand-section img {
    max-width: 27.5px;
    padding-left: 4.5px;
}

#programming-languages {
    display: flex;
    flex-wrap: wrap;
}

#github-projects {
    display: flex;
    flex-wrap: wrap;
}

#poem {
    margin-top: 80px;
    font-style: italic;
    text-align-last: center;
}