.bio {
    /* text-align: justify; */
    width: 85vw;
}

.stand-section h3 { /* center "stand" title vertically */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.stand-section img {
    max-width: 27.5px;
    padding-right: 10px;
}

.programming-languages {
    display: flex;
    flex-wrap: wrap;
}

.github-projects {
    display: flex;
    flex-wrap: wrap;
}

.poem {
    margin-top: 80px;
    font-style: italic;
    text-align-last: center;
}