html {
    margin-bottom: 5vh;
    background-color: rgb(20, 20, 20);
    color: white;
}

* {
    font-family: monospace;
    transition: all 0.5s ease;
}

.space-on-top {
    padding-top: 2.5vh;
}

.gradient {
    background: linear-gradient(to right, #1461FF, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.text {
    width: 75vw;
}

img {
    max-width: 90vw;
}

nav {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(20, 20, 20);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /*? initial values */
    border-bottom: 1px solid cyan;
}

body {
    font-size: x-large;
}

body p {
    font-size: 15px
}

li {
    font-size: 17px
}

.socials div {
    font-size: 17px;
}

.margin {
    margin-left: 2vw;
}

a {
    color: #257afb
}

.accent-color {
    /*? initial value */
    color: cyan
}

.socials div {
    display: inherit;
    /* (flex) */
    align-items: center;
}

.socials a {
    padding: 10px;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.discord-logo {
    max-height: 20px;
    width: auto
}

.twitter-logo {
    max-height: 20px;
    width: auto
}

.github-logo {
    max-height: 30px;
    width: auto
}