/*!! Default set-ups !!*/

html {
    margin-bottom: 5vh;
    background-color: rgb(20, 20, 20);
    color: white;
}

* {
    font-family: monospace;
    transition: all 0.5s ease;
}

.space-on-top {
    padding-top: 2.5vh;
}

.gradient {
    background: linear-gradient(to right, #1461FF, #00FFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

nav {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgb(20, 20, 20);
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    /*? initial values */
    border-bottom: 1px solid cyan;
}

.margin {
    margin-left: 2vw;
}

a {
    color: #257afb
}

.accent-color {
    /*? initial value */
    color: cyan
}

.no-bottom-margin {
    margin-bottom: 0px;
}

/*!! Sizes !!*/
h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p, li {
    font-size: 15px;
}


/*!! Others !!*/
.socials div { /* vertically center socials section */
    display: inherit;
    /* (flex) */
    align-items: center;
}

.socials a { /* separate images from their description */
    padding: 10px;
}

.socials { /* make socials horizontal instead of vertical */
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.discord-logo {
    max-height: 20px;
    width: auto
}

.twitter-logo {
    max-height: 20px;
    width: auto
}

.github-logo {
    max-height: 30px;
    width: auto
}
